
cocotb
vlsim


-e git+ssh://git@github.com/pybfms/pybfms.git#egg=pybfms
-e git+ssh://git@github.com/pybfms/pybfms-wishbone.git#egg=pybfms-wishbone
-e git+ssh://git@github.com/pybfms/pybfms-uart.git#egg=pybfms-uart

-e git+ssh://git@github.com/fvutils/mkdv.git#egg=mkdv

